body {
    background: url(../img/headers/home/blacknoise_bg.jpg) repeat scroll 0% 0%;
    color: #fafafa;
}

body.login-content h1.login-h2{
    color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 300;
}

div .lc-block{
    font-family: 'Open Sans', sans-serif;
    color: #262626;
}

@media (min-width: 300px) and (max-width: 400px){
    .lc-block {
        padding: 15px 35px 15px 10px !important;
        width: calc(100% - 60px);
    }

}

@media (min-width: 300px) and (max-width: 767px){
    body.login-content h1.login-h2{
        color: #fafafa;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 300;
    }
}


@media (min-width: 768px) and (max-width: 991px){
    body.login-content h1.login-h2{
        color: #fafafa;
        font-family: 'Open Sans', sans-serif;
        font-size: 60px;
        font-weight: 200;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    body.login-content h1.login-h2{
        color: #fafafa;
        font-family: 'Open Sans', sans-serif;
        font-size: 85px;
        font-weight: 300;
    }
}

.lc-block .form-control {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}